language: cpp

os:
  - linux
  - osx

# don't re-build for tags so that [publish binary] is not re-run
# https://github.com/travis-ci/travis-ci/issues/1532
branches:
  except:
    - /^v[0-9]/

env:
  matrix:
    - NODE_VERSION="0.10"
    - NODE_VERSION="0.12"
    - NODE_VERSION="4"
    - NODE_VERSION="5"
    - NODE_VERSION="iojs"
  global:
    - secure: IxORreMUlF3CYU6129/JAQ00ZMR+yxrD8x+nAka8T+qQ8MI3OBkONwYeOXknE0PDgWvD315gPK9KQXSplruEuz8mmxjUJNOzvAikUMF7hVUIl79hSwLDkFZ1MC0rV90dbb7hOlxD1EjqASqTbEJPNarDzIcDxf/G6cubPgnxNbE=
    - secure: eGf5iU0ixKUhp4z+/o8/6A7lvL33nZFCS510gJzytgh0qpACHSYz+2KzNT+ddYRE2Mobj3WPqxXRq8mtMAlyuXogwQhmnYOBtskSkPUK+u5DhX+s1IQHu7DyGfx+h44jlOX2D3peKL0HOLl+SPDkzAt4Xec/W3VNPHolQDy9Tjg=

matrix:
  fast_finish: true

sudo: false

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8

before_install:
  - export CXX=g++-4.8
  - rm -rf ~/.nvm/ && git clone --depth 1 https://github.com/creationix/nvm.git ~/.nvm
  - source ~/.nvm/nvm.sh
  - nvm install $NODE_VERSION
  - nvm use $NODE_VERSION

install:
  - npm install --build-from-source

script:
  - npm run lint
  - npm run test-cov

after_success:
  - npm run coveralls
  - COMMIT_MESSAGE=$(git show -s --format=%B $TRAVIS_COMMIT | tr -d '\n')
  - if [[ ${COMMIT_MESSAGE} =~ "[publish binary]" ]]; then ./node_modules/.bin/node-pre-gyp package publish; fi;
